/* HTML Selectors */
article {
    margin: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;}

div {
    margin: 10px;
    vertical-align: center;
}

footer {
    background-color: gray;
    color: white;
    padding: 5px;
    text-align: center;
}

header {
    margin: auto;
    text-align: center;
}

img {
    width: 80%;
    vertical-align: center;
}

label {
    display: inline-block;
    min-width: 120px;
    text-align: center;
}

main {
    text-align: center;
}


/* Media Queries */
@media only screen and (min-width: 32.5em) {
    #dogs {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 64em) {
    #dogs {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
